APP_NAME=
APP_KEY=
PORT=
APP_URL=
NODE_ENV=
CLIENT_APP_URL=

FILESYSTEM_DRIVER= # local | s3 | gcs


CROSS_ORIGINS=

JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRY= #example: 7d, 30d, 1h, 15m, 10s
JWT_REFRESH_TOKEN_EXPIRY= #example: 7d, 30d, 1h, 15m, 10s

DATABASE_URL=


REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=



AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=

 
# system user
SYSTEM_USERNAME=
SYSTEM_EMAIL=
SYSTEM_PASSWORD=